@import "styleILaptop.css";

@import "styleIPod.css";

@media (max-width:376px){
    .first{
        width: 100%;
        margin: 1% auto;
    }

    .content div{
        width: 100%;
    }

    .content{
        width: 100%;
        margin: 1% auto;
    }

    .second,.forth,.third{
       display: none;
    }
    
    .fifth{
        width: 100%;
        margin: 1% auto;
    }
}



