.center{
    margin: 0 auto;
    text-align: center;
    /*border: 1px solid rgb(168, 17, 17);
*/
}

.htmls{
    color: blue;
}

.text1{
    color: darkgreen;
    font-weight: bolder;
}

.text2{
    color:cornflowerblue;
    font-style: normal;
}

.text3{
    color: indigo;
    font-family: Cambria;
    font-size: 20px;
}

.text4{
    color: indigo;
    font-family: Cambria;
    font-display: unset;
}

.text5{
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.text6{
    color: indigo;
    font-family: Cambria;
    font: smaller;
}

.first-p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.second-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style:inherit;
    color: green;
}

.third-p{
    font-family:fantasy;
    font-size: 15px;
    font-style:inherit;
    color:yellow;
}
ul#third>li{
    list-style: none;
}
ul#third>li:before{
    content: "§"; /* Добавляем в качестве маркера символ */
}
 
ul#first>li{
    list-style-type: disc;
}

a{
    text-decoration: none;
}