.center{
    margin: 0 auto;
    text-align: center;
}

.span-0{
    color: blue;
}

.span-1{
    color: darkgreen;
    font-weight: bolder;
}

.span-2{
    color:cornflowerblue;
    font-style: normal;
}

.span-3{
    color: indigo;
    font-family: Cambria;
    font-size: 20px;
}

.span-4{
    color: indigo;
    font-family: Cambria;
    font-display: unset;
}

.span-5{
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.span-6{
    color: indigo;
    font-family: Cambria;
    font: smaller;
}

.first-paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    font-style: italic;
    color: red;
}

.second-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style:inherit;
    color: green;
}

.third-paragraph{
    font-family:fantasy;
    font-size: 15px;
    font-style:inherit;
    color:yellow;
}

ul#third-list>li{
    list-style: none;
}
ul#third-list>li:before{
    content: "§";
}
 
ul#first-list>li{
    list-style-type: disc;
}

a{
    text-decoration: none;
}