
table{
    table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 100%; /* Ширина таблицы */
    border: 1px solid red;
}

td{
    height: 200px;
    border: 1px solid black;
}

.class third{
    width: 33%;
}