
table{
    table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 100%; /* Ширина таблицы */
    border-spacing: 10px 11px;
}

td{
    height: 200px;
}

.header{
    background: red;
}
.content{
    background: yellow;
}

.footer{
    background: green;
}

.third{
    background: rgb(80, 33, 192);
}